/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*       VARIABLES     */

@italics: italic;
@font-one: 20px;
@font-two: 18px;
@color: #DFD1AA;
@border: 1px solid #333;


/*   MIXINS  */
.link {
  text-decoration: none;
  color: #666;
}

/* Set every element's box-sizing to border-box */

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background-image: url("../img/klaus-with-lambda-school-stress-computer.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @color;
  font-family: "Lora", sans-serif;
  font-size: 16px;

  /*     Scrollbar styling  -- does not work on Firefox, Internet Explorer, or Edge  */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: @color;
  }

  ::-webkit-scrollbar-thumb {
    background: #000;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #BDBDBD;
  }

  .container {
    display: flex;
    flex-direction: column;
    background-color: rgba(223, 209, 170, .75);
    width: 85%;
    min-height: 100vh;
    justify-content: center;
    margin: 0 auto;
    padding: 2%;
  

    header {
      line-height: 1.5;
      padding-bottom: 2%;

    }

      h1 {
        font-size: @font-one;
      }

      h2 {
        font-size: @font-two;
      }

      .quote {
        padding: 1%;
        text-align: center;
        border-top: @border;
        border-bottom: @border;
        font-style: @italics;
      }

  .content {
    a {
      .link();
    }
  }
    .project {
      display: column;


  }
}  /*    end of container class   */

}  /*    end of body     */
/*     Mobile Size   */
/*    Tablet Size    */
/*    Desktop Size    */
